body {
    margin: 60px auto;
    width: 75%;
    font-family: 'Indie Flower', cursive;
    background-image: url("https://hdwallsbox.com/wallpapers/l/1920x1200/73/wood-brown-solid-oak-1920x1200-72672.jpg");
}

.body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzd0hjk4aSX5mA1kNlRPtJXgxCFPMspia-LV-iZs_3RHMsZgfe");
  padding: 100px;
}

hr{
  border-color: #52311c;
}

#dice {
  width: 100px;
  height: 100px;
}

#wheel {
  width: 500px;
  height: 500px;
}

#coin {
  width: 100px;
  height: 100px;
}

#card {
  height: 284px;
  width: 200px;
}

#cards {
  height: 150%;
}

#bullet {
  font-size: 1.5em;
}

#probcolor { 
  text-align:justify;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mainmenu{
  font-size: 25px;
}

#menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
  box-sizing: border-box;
}

.row {
  width: 115%;
}

.column {
  float:left;
  width:33.33%;
  padding: 7px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

  table, th, td {
    border: 0px solid black;
  }

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #0000A0;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #c04000;
}

a.headmenu{
  color: #52311c;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: #000000;
}
h2 {
    color: #000000;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;
}

footer {
    font-size: 1.5em;
}

nav {
  font-size: 30px;
  border: solid #52311c;
  padding: 5px;
  text-align:center;
  border-radius: 25px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



.question{
	font-weight: 600;
}
.answers{
    margin-bottom: 20px;
}
button{
  font-family: sans-serif;
	font-size: 22px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: #38a;
}
