body {
    margin: 60px auto;
    width: 70%;
    background-color: #fcf4ac;
    font-family: 'Indie Flower', cursive;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzd0hjk4aSX5mA1kNlRPtJXgxCFPMspia-LV-iZs_3RHMsZgfe");
}

#horizontal-line {
height: 1px;
min-width: 400px;
margin:15px;  
float:left
}

.bullet {
  text-indent: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #0000A0;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #00FFFF;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: #000000;
}
h2 {
    color: #000000;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;
}
footer {
    border-top: 2px solid #c7c086;
    font-size: 1.0em;
}
nav {
    border-bottom: 2px solid #c7c086;
    font-size: 1.0em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
