body {
    margin: 60px auto;
    width: 75%;
    font-family: 'Indie Flower', cursive;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzd0hjk4aSX5mA1kNlRPtJXgxCFPMspia-LV-iZs_3RHMsZgfe");
}

.body{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://hdwallsbox.com/wallpapers/l/1920x1200/73/wood-brown-solid-oak-1920x1200-72672.jpg");
  padding: 100px;
  border: solid tomato;
  border-radius: 15px;
}

hr{
  border-color: #52311c;
}

.button{
  text-align: center;
}

.buttonlayout{
  color: white;
  background-color: #52311c;
  border: none;
  border-radius: 25px;
  font-family: 'Indie Flower', cursive;
  padding: 15px 32px;
  font-size: 17px;
}

#dice {
  width: 100px;
  height: 100px;
}

#arrow{
  position: absolute;
  top: 0px;
  left: 570px;
  width: 86px;
  height: 50px;
}

#wheel {
  position: relative;
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
}

#coin {
  width: 100px;
  height: 100px;
}

#card {
  height: 284px;
  width: 200px;
}

#cards {
  height: 150%;
}

#bullet {
  font-size: 1.5em;
}

#probcolor { 
  text-align:justify;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mainmenu{
  font-size: 30px;
}

#menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
  box-sizing: border-box;
}

.row {
  width: 115%;
}

.column {
  float:left;
  width:33.33%;
  padding: 7px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

  table, th, td {
    border: 0px solid black;
  }

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #0000A0;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #c04000;
}

a.headmenu{
  color: #52311c;
  border: solid #52311c;
  padding: 15px 32px;
  border-radius: 25px;
}

a.defmenu{
  color: #52311c;
  border: solid #52311c;
  padding: 10px 37px;
  border-radius: 25px;
  font-size: 15px;
}

a.defmenu:hover{
  color: white;
  background-color: #52311c;
  text-decoration: none;
}

a.headmenu:hover{
  color: white;
  background-color: #52311c;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: #000000;
}
h2 {
    color: #000000;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;
}

footer {
    font-size: 1.5em;
}

nav {
  font-size: 30px;
  text-align:center;
  }

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



/* The entire quiz form */
#quiz-wrap {
  font-family: arial, sans-serif;
}

/* Wrapper of each question */
#quiz-wrap .question {
  padding: 15px;
  margin: 10px;
  background: #f2f2f2;
  border: 3px solid #ccc;
  border-radius: 10px;
}

/* Question */
#quiz-wrap h1 {
  font-size: 22px;
  margin: 5px 0;
}

/* Options */
#quiz-wrap label {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

/* Submit Button */
#quiz-wrap input[type=submit] {
  background: #972121;
  color: #fff;
  padding: 10px;
  border: 0;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
}
