<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">0
			<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
			<script>
				function rollDice(){
					var dice = document.getElementById("dice");
					var dc = Math.floor(Math.random() * 6) + 1;
					if(dc == 1) document.getElementById("dice").src = "https://upload.wikimedia.org/wikipedia/commons/2/2c/Alea_1.png";
					else if(dc == 2) document.getElementById("dice").src = "https://upload.wikimedia.org/wikipedia/commons/b/b8/Alea_2.png";
					else if(dc == 3) document.getElementById("dice").src = "https://upload.wikimedia.org/wikipedia/commons/2/2f/Alea_3.png";
					else if(dc == 4) document.getElementById("dice").src = "https://upload.wikimedia.org/wikipedia/commons/8/8d/Alea_4.png";
					else if(dc == 5) document.getElementById("dice").src = "https://upload.wikimedia.org/wikipedia/commons/5/55/Alea_5.png";
					else if(dc == 6) document.getElementById("dice").src = "https://upload.wikimedia.org/wikipedia/commons/f/f4/Alea_6.png";
				}
			</script>
			<script>
				function drawCard(){
					var card = document.getElementById("card");
					var c = Math.floor(Math.random() * 52) + 1;
					card.innerHTML = c;
				}
			</script>
			<script>
				function tossCoin(){
					var coin = document.getElementById("coin");
					var co = Math.floor(Math.random() * 2) + 1;
					if(co == 1) document.getElementById("coin").src = "https://upload.wikimedia.org/wikipedia/commons/9/96/PhilippinesNewGen5PesoObverse.png";
					else document.getElementById("coin").src = "https://upload.wikimedia.org/wikipedia/commons/7/70/PhilippinesNewGen5PesoReverse.png";
				}
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
					<li><a href="https://samplespace-discrete.github.io/">Home</a></li>
					<li><a href="/definition">Definition</a></li>
		        	<li><a href="/examples">Examples</a></li>
	        		<li><a href="/exercises">Exercises</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br><br>
			<footer>
	    		<ul>
        			<li><a href="https://github.com/samplespace-discrete/samplespace-discrete.github.io">GitHub Repository</a></li>
					<li>MEJIA - MANALANSANG 2019</li>
					<li>BSCS 2-3</li>
				</ul>
			</footer>
		</body>
	</html>
