<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/definition/">Definition</a></li>
		        	<li><a href="/examples">Examples</a></li>
	        		<li><a href="/exercises">Exercises</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br><br>
			<footer>
	    			<ul>
        				<li><a href="https://github.com/samplespace-discrete/samplespace-discrete.github.io">GitHub Repository</a></li>
					<p>MEJIA - MANALANSANG 2019</p>
					<br>
					<p>BSCS 2-3</p>
				</ul>
			</footer>
		</body>
	</html>
