<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Definition</a></li>
		        	<li><a href="/examples">Examples</a></li>
	        		<li><a href="/exercises">Exercises</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
        				<li><a href="https://github.com/samplespace-discrete">github.com/samplespace-discrete</a></li>
				</ul>
			</footer>
		</body>
	</html>
