<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<p class="center"><a href="https://github.com/samplespace-discrete/samplespace-discrete.github.io">GitHub Repository</a>	MEJIA - MANALANSANG 2019	BSCS 2-3</p>
			</footer>
		</body>
	</html>
