<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
        				<li><a href="https://github.com/samplespace-discrete">github.com/samplespace-discrete</a></li>
					<li>MEJIA - MANALANSANG 2019</li>
					<li>BSCS 2-3</li>
				</ul>
			</footer>
		</body>
	</html>
